<!-- Configure the pictures in the file _includes/about-picture-script.html -->

<figure class="about-picture" onclick="getAboutPicture()"><img src="" alt="Derek Kedziora with a friendly smile" title="Derek Kedziora" id="aboutImg" width="200" height="200">
<figcaption id="aboutCaption">I’m Moti the cat</figcaption> 
</figure>


<!-- choose one picture as a fallback in case Javascript fails -->

<noscript>
<figure class="about-picture"><img src="/static/about-pictures/about-deck.jpeg" alt="Moti the cat looking to explore" title="Moti the cat"><figcaption id="aboutCaption">I’m Moti the cat</figcaption> 
</figure></figure>
</noscript>