{%- unless page.nowPage -%}
	{%- assign dateOfPost = {{page.date | date: "%d"}} -%}
	{%- assign postDate = page.date -%}
{%- else -%}
	{%- assign dateOfPost = site.categories.now[0].date | date: "%d" -%}
	{%- assign postDate = site.categories.now[0].date -%}
{%- endunless -%}

{%- if dateOfPost == "01" or dateOfPost == "21" or dateOfPost == "31" -%}
	{%- assign ordinalEnding = "st" -%}
{%- elsif dateOfPost == "02" or dateOfPost == "22" -%}
	{%- assign ordinalEnding = "nd" -%}
{%- elsif dateOfPost == "03" or dateOfPost == "23" -%}
	{%- assign ordinalEnding = "rd" -%}
{%- else %}
	{%- assign ordinalEnding = "th" -%}
{%- endif %}

{%- assign firstDigitDofP = dateOfPost | slice: 0 -%}

{%- if firstDigitDofP == "0" -%}
	{%- assign prettyDateOfPost = dateOfPost | slice: 1 -%}
{%- else -%}
	{%- assign prettyDateOfPost = dateOfPost -%}
{%- endif -%}
