{%- include head-matter.html -%}
{%- include pretty-numbers.html -%}

<main>
<article>

<header>
	<h1 class="post-title">{%- if page.nowPage -%}{{ site.categories.now[0].title }}{%- else -%}{{ page.title }}{%- endif -%}</h1>
	<p class="post-author-and-time">
	<a href="/" title="Home" rel="author" class="internal-link">Derek Kedziora</a>
	{%- unless page.category contains "english-guide" -%}
	&nbsp;&middot;&nbsp;<time datetime="{{ postDate | date: '%Y-%m-%d' }}">
	{%- unless page.custom-date %}{{ postDate | date: "%B" }} {{prettyDateOfPost}}{{ ordinalEnding }}, {{ postDate | date: "%Y" }}{%- else -%}{{ page.custom-date }}{%- endunless -%}</time>{% endunless %}</p>
</header>

{%- if page.categories contains "now" -%}
	{%- include now-blurb.html -%}
{%- endif -%}

{%- if page.categories contains "rss-club" -%}
	{%- include rss-plug.html -%}
{%- endif -%}

{{ content }}

</article>

{%- if page.categories contains "now" -%}
	{%- include now-listing.html -%}
{%- endif -%}

</main>

{%- include footer.html -%}

</body>

</html>
